h1 {
    color: blue;
    background-color: yellow;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    font-size: 200%;
  }
h3 {
    color: blue;
    background-color: orange;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    font-size: 200%;
}
form {
    text-align: center;
}
#answer {
    height: 100px;
    width:500px;
}
#message {
    height: 100px;
    width:500px;
}